@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.error-boundary {
  text-align: center;
  padding: 20px;
  background-color: #f2d7d5;
  color: #d9534f;
  border: 1px solid #d9534f;
  border-radius: 5px;
}

.error-boundary h2 {
  font-size: 24px;
}

.not-found {
  text-align: center;
  padding: 50px;
  background-color: #f8d7da;
  color: #721c24;
}

.not-found h1 {
  font-size: 36px;
}

.not-found a {
  color: #007bff;
  text-decoration: none;
}

.not-found a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
